<div class="row">
	<div class="col-md-4">
		
		<%= image_tag @flat.flat_image.url(:flat_show), class: "flat-show" %>
	</div>

	<div class="col-md-8">

		<div class="flat-info">
		<div class="message-show"><h1><%= @flat.title %></h1></div>
		<div class="flat-author">Erstellt vor <%= time_ago_in_words (@flat.created_at) %> </div>
		<div class="flat-author"> <%= @flat.plz %> <%= @flat.town %> </div>
		<div class="flat-desc"> <%= @flat.discription %></div>
		<div class="flat-author">Kategorie: <%= @flat.category.name %></div>
		</div>

		<div class="links btn-group">
		<%= link_to "Zurück", root_path, class: "btn btn-default"%>
		<% if user_signed_in? %>
		<% if @flat.user_id == current_user.id %>
			<%= link_to "Inserat überarbeiten", edit_flat_path(@flat), class: "btn btn-default" %>
			<%= link_to "Löschen", flat_path(@flat), method: :delete, data: {confirm: "Inserat wirklich löschen?"}, class: "btn btn-default" %>
			<% end %>
		<% end %>
		</div>
	</div>
</div>